[push]
	autoSetupRemote = true
[commit]
	cleanup = scissors
[alias]
	l = !git_log.sh
	st = status
[rerere]
	enabled = true
[core]
	autocrlf = false
	#editor = nvim
	editor = vim
	excludesFile = ~/.gitignore-global
