[push]
	autoSetupRemote = true
[credential]
	helper = store
[commit]
	cleanup = scissors
[alias]
	l = !git_log.sh
	st = status
[rerere]
	enabled = true
[core]
	autocrlf = false
	editor = nvim
	excludesFile = ~/.gitignore-global
