<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>3</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_position</key>
	<integer>1</integer>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>0</integer>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string>mini</string>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_state</key>
	<false/>
	<key>CombinedModules</key>
	<false/>
	<key>Disk_state</key>
	<false/>
	<key>Disk_widget</key>
	<string>mini</string>
	<key>GPU_state</key>
	<false/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{1255, 732}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>508 385 728 480 0 0 1800 1095 </string>
	<key>Network_state</key>
	<false/>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_state</key>
	<true/>
	<key>RAM_widget</key>
	<string>mini</string>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>1</integer>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>dockIcon</key>
	<false/>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1784534387</integer>
	<key>updater_check_ts</key>
	<integer>1784534658</integer>
	<key>version</key>
	<string>3.0.9</string>
</dict>
</plist>
